{# Logo toujours visible sur toutes les pages #}
<nav class="navbar navbar-expand-lg bg-light border-bottom">
    <div class="container-fluid">

        {# Logo en haut à gauche, cliquable vers l’accueil #}
        <a class="navbar-brand p-1 d-flex align-items-center" href="{{ path('app_home') }}">
            <img
                src="{{ asset('images/logo.png') }}"
                alt="Logo Sortir.com"
                height="40"
                class="d-inline-block align-text-top"
            >
        </a>

        {# Partie navigation uniquement si l’utilisateur est connecté #}
        {% if app.user %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    {# Lien Administration uniquement pour les admins #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                    </li>

                    {# Mon profil - redirige vers le show de l'utilisateur connecté #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profil_show', {'id': app.user.id}) }}">Mon profil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        {% endif %}

    </div>
</nav>
